body {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 0px;

}
h1 {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0 15px;
}
h2 {
    display: flex;
    justify-content: center;
    padding: 15px;
}
p {
    padding: 0 25px 0 25px;
}
img {
    width: 100%;
    border-radius: 15px;
}

.figures {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width:75%;
    text-align: center;
    justify-content: center;
}
@media screen and (min-width:1190px) {
    body {
        background-color: lavenderblush;
    }
    h1{
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    .figures {
        width: 100%;
        margin: 10px;
    }

}
@media screen and (max-width:1190px) {
    body {
        background-color: darkgrey;
    }
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
    figcaption {
        font-size: 0.94rem;
    }
    img {
        border: 4px ridge blanchedalmond;
    }
}